<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.merchants.mapper.MerchantsFoodMapper">
    
    <resultMap type="com.ruoyi.merchants.domain.MerchantsFood" id="MerchantsFoodResult">
        <result property="id"    column="id"    />
        <result property="merchantsId"    column="merchants_id"    />
        <result property="foodId"    column="food_id"    />
        <result property="foodPrice"    column="food_price"    />
        <result property="foodName"    column="food_name"    />
    </resultMap>

    <sql id="selectMerchantsFoodVo">
        select id, merchants_id, food_id, food_price, food_name from merchants_food
    </sql>

    <select id="selectMerchantsFoodList" parameterType="com.ruoyi.merchants.domain.MerchantsFood" resultMap="MerchantsFoodResult">
        <include refid="selectMerchantsFoodVo"/>
        <where>
            <if test="merchantsId != null "> and merchants_id = #{merchantsId}</if>
            <if test="foodId != null "> and food_id = #{foodId}</if>
            <if test="foodPrice != null "> and food_price = #{foodPrice}</if>
            <if test="foodName != null "> and food_name = #{foodName}</if>
        </where>
    </select>
    
    <select id="selectMerchantsFoodById" parameterType="Long" resultMap="MerchantsFoodResult">
        <include refid="selectMerchantsFoodVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMerchantsFood" parameterType="com.ruoyi.merchants.domain.MerchantsFood">
        insert into merchants_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="merchantsId != null">merchants_id,</if>
            <if test="foodId != null">food_id,</if>
            <if test="foodPrice != null">food_price,</if>
            <if test="foodName != null">food_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="merchantsId != null">#{merchantsId},</if>
            <if test="foodId != null">#{foodId},</if>
            <if test="foodPrice != null">#{foodPrice},</if>
            <if test="foodName != null">#{foodName},</if>
         </trim>
    </insert>

    <update id="updateMerchantsFood" parameterType="com.ruoyi.merchants.domain.MerchantsFood">
        update merchants_food
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantsId != null">merchants_id = #{merchantsId},</if>
            <if test="foodId != null">food_id = #{foodId},</if>
            <if test="foodPrice != null">food_price = #{foodPrice},</if>
            <if test="foodName != null">food_name = #{foodName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMerchantsFoodById" parameterType="Long">
        delete from merchants_food where id = #{id}
    </delete>

    <delete id="deleteMerchantsFoodByIds" parameterType="String">
        delete from merchants_food where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>