<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.merchants.mapper.MerchantsPedestalMapper">
    
    <resultMap type="com.ruoyi.merchants.domain.MerchantsPedestal" id="MerchantsPedestalResult">
        <result property="pedestalId"    column="pedestal_id"    />
        <result property="pedestalState"    column="pedestal_state"    />
        <result property="merchantsId"    column="merchants_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectMerchantsPedestalVo">
        select pedestal_id, pedestal_state, merchants_id ,create_time from merchants_pedestal
    </sql>

    <select id="selectMerchantsPedestalList" parameterType="com.ruoyi.merchants.domain.MerchantsPedestal" resultMap="MerchantsPedestalResult">
        <include refid="selectMerchantsPedestalVo"/>
        <where>  
            <if test="pedestalState != null "> and pedestal_state = #{pedestalState}</if>
            <if test="merchantsId != null "> and merchants_id = #{merchantsId}</if>
        </where>
    </select>
    
    <select id="selectMerchantsPedestalByPedestalId" parameterType="Long" resultMap="MerchantsPedestalResult">
        <include refid="selectMerchantsPedestalVo"/>
        where pedestal_id = #{pedestalId}
    </select>
        
    <insert id="insertMerchantsPedestal" parameterType="com.ruoyi.merchants.domain.MerchantsPedestal">
        insert into merchants_pedestal(
            <if test="pedestalId != null">pedestal_id,</if>
            <if test="pedestalState != null">pedestal_state,</if>
            <if test="merchantsId != null">merchants_id,</if>
            )
            values(
        <if test="pedestalId != null">#{pedestalId},</if>
        <if test="pedestalState != null">0,</if>
        <if test="merchantsId != null">#{merchantsId},</if>
        )
    </insert>

    <update id="updateMerchantsPedestal" parameterType="com.ruoyi.merchants.domain.MerchantsPedestal">
        update merchants_pedestal
        <trim prefix="SET" suffixOverrides=",">
            <if test="pedestalState != null">pedestal_state = #{pedestalState},</if>
            <if test="merchantsId != null">merchants_id = #{merchantsId},</if>
        </trim>
        where pedestal_id = #{pedestalId}
    </update>

    <delete id="deleteMerchantsPedestalByPedestalId" parameterType="Long">
        delete from merchants_pedestal where pedestal_id = #{pedestalId}
    </delete>

    <delete id="deleteMerchantsPedestalByPedestalIds" parameterType="String">
        delete from merchants_pedestal where pedestal_id in 
        <foreach item="pedestalId" collection="array" open="(" separator="," close=")">
            #{pedestalId}
        </foreach>
    </delete>
</mapper>